# Visual Studio
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
[Bb]in/
[Oo]bj/
[Rr]elease/
[Dd]ebug/

# Rider
.idea/

# macOS
.DS_Store

# Windows
Thumbs.db

# NuGet
packages/
*.nupkg

# Dotnet local tools
.store/

# Other
*.bak
*.tmp
